@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'gilory';
  src: url('../../public/fonts/Gilroy-Medium.woff') format('woff2');
  font-style: normal; /* Change to 'italic' if needed */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
